*{
    padding: 10px;
    background-color: rgb(79, 79, 79);
}
body{
    width: 96%;
    margin: 2rem auto;
}

h1 {
    text-align: center;
    font-size: 42px;
    color: fuchsia;
}

header p{
    color:ghostwhite;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 1.5em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: -24px;
    margin-right: -24px;
    
}
.column{
    /* flex: 1 0 100%; */
    padding: 1rem;
    margin-bottom:1rem;
    transition: flex-basis 500ms linear;
}
  
.card {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    outline: 1px dashed white;
    outline-offset: -2px;
}

.card h2 {

    position: relative;
    margin: -20px 0 24px 0;
    padding: 1rem;
    border: 2px solid #ffffff;
    border-radius: 8px;
    color: fuchsia;
}

.card p {
    color: fuchsia;
}



